
*{
    margin: 0%;
    padding: 0%;
    /* background-color: rgb(34, 33, 33); */
}

main{
    margin: 0px;
    background-color: azure;
    /* padding: 0px 5%; */
}

header{
    background-color: azure;
    margin: 0px;
}

h1 {
    color:rgb(0, 0, 0);
    text-align: center;
    font-family:fantasy;
    padding-top: 30px;
}

nav {
    text-align: center;
    padding-bottom: 10px;
    /* background-color: rgb(114, 238, 189); */
    background-color: azure;
    height: 40px;
}

nav > a {
    color:#053a8a;
    text-decoration: none;
    margin-top: 10%;
    margin: 0px 20px 5px;
    padding: 0px;
    background-color: azure;
    border-radius: 5px;
}

nav > a:hover {
    color: #F39C12;
    border: 1px solid #F39C12;
    border-radius: 10px;
    padding: 10px;
}

.fotos-perros {
    width: 33%;
    height: 570px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    text-align: justify;
    background-color: azure;
}

figure{
    width: 100%;
    color: cornsilk;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: azure;
}

figcaption{
    text-align: center;
    background-color: azure;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 10px;
    font-style: oblique;
}

p{
    text-align: justify;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    line-height: 1.5;
    font-weight:lighter;
    padding: 0px 5%;
    font-size: 20px; 
}

.OMSA{
    color: #053a8a;
    padding-bottom: 20px;
}


.libertades{
    background-color: #031f48;
    padding: 0px 5%;
    display: grid;
    grid-template-columns: 50% 30%;
    
    
}

.libertad{

    text-align: right;
    padding: 10px;
}

.titulo-lista{
    font-size: 25px;
    padding: 10px;
    text-align: justify;
    color: azure;
    margin-left: 20px;
    margin-top: 30px;
    
}

.lista{
    color: azure;
    list-style-image: url(img/huella.png);
    text-align: justify;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    line-height: 1.5;
    font-weight:lighter;
    padding: 0px 5%;
    font-size: 20px; 
    margin-left: 20px;
}

.video{
    display: grid;
    padding: 10px;

    
    
}

.bienestar{
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 15px;
}


.titulo-bienestar{
    text-align: center;
    color: rgb(135, 205, 23);
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
}


.p-bienestar{
    text-align: justify;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    line-height: 1.5;
    font-weight:lighter;
    padding: 10px 5%;
    font-size: 20px;
    color: #053a8a; 
}

.cognicion{
    background-color: #031f48;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    
}

.titulo-cognicion{
    text-align: center;
    color: rgb(205, 147, 23);
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 10px;

}

.p-cognicion{
    text-align: justify;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    line-height: 1.5;
    font-weight:lighter;
    padding: 10px 5%;
    font-size: 20px;
    color: azure;
}


.titulo-dia-perro{
    text-align: center;
    color: rgb(135, 205, 23);
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.p-dia-perro{
    text-align: justify;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    line-height: 1.5;
    font-weight:lighter;
    padding: 10px 5%;
    font-size: 20px;
    color: #053a8a; 
}

.tabla-dia-perro{
    width: 70%;
    margin: 20px auto;
    background-color:rgba(135, 205, 23, 0.087);
    text-align: center;
    color: #023075;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    line-height: 1.5;
    font-weight:lighter;
    font-size: 18px;   
}

th,td {    
    border: 3px ;
    padding: 2px;
}


.pagina1 {
    width: 500px;
    height: 500px;
    text-align: right;
}

.pagina2 {
    width: 500px;
    height: 500px;
    text-align: right;
}

.cognicion{
    width: 100%;
}

.enfermedades{
    background-color: rgb(45, 0, 0);
}

.titulo-enfermedades{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

footer {
    padding: 20px 15%;
    background-color:azure;
}

h5{
    text-align: right;
}

footer > iframe{
    display: inline-block;
    text-align: right;
    width: 10%;
    height: 10%;
}

.contacto{
    display: inline-block;

}
.copy{
    text-align: center;
}

form{
    margin: 10px 0%;
    padding: 10px;
}

label{
    margin-left: 10px;
}

fieldset > p {
    margin-left: 10px;
}

legend{
    margin-left: 10px;
}

.boton-enviar{
    text-align: center;
}

.

